@font-face {
  font-family: 'Klavika';
  src: url('../fonts/Klavika/KlavikaRegular-TF.woff.ttf');
}

@font-face {
  font-family: 'Klavika-bold';
  src: url('../fonts/Klavika/klavika-bold.otf');
}

@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito/Nunito-VariableFont_wght.ttf');
}
